

<div class="col-md-6 container" >
  <h1>'No Fee' Loan Calculator</h1>
  <form [formGroup]="loanSummaryForm" (ngSubmit)="calculateLoan()">
    <div class="form-group">
      <label>Vehicle Price</label>
      <input type="number" class="form-control" formControlName="fullPrice">
    </div>
    <div class="form-group">
      <label>Deposit</label>
      <input type="number" class="form-control" formControlName="deposit">
      <div *ngIf="loanSummaryForm.hasError('depositToLow')" class="text-danger">
        <h6>Deposit too low (min 15% of vehicle price)!</h6>
      </div>
    </div>

    <div class="form-group row">
      <label for="deliveryDate" class="col-2 col-form-label">DeliveryDate</label>
      <div class="col-10">
        <input class="form-control" type="date" formControlName="deliveryDate">
      </div>
    </div>
    <div class="form-group">
      <label>Loan Option</label>
      <select class="custom-select" formControlName="loanLenght">
        <option value="" disabled>Please select</option>
        <option *ngFor="let loanPeriod of loanLenghts" [ngValue]="loanPeriod.value">{{loanPeriod.description}}</option>
      </select>
    </div>

<button type="submit" [disabled]="!loanSummaryForm.valid" class="btn btn-success">Calculate</button>

  </form>

  <div>
    <app-loan-details [loanForDisplay]="loanDetails"></app-loan-details>
  </div>
</div>