<div *ngIf="loanForDisplay" class="col-md-12" style="margin-top: 10px">
  <h2 id="tableLabel">Loan Details</h2>

   <div class="form-group row">
      <label for="vehiclePrice" class="col-md-6 col-form-label">Vehicle price:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="vehiclePrice" value="{{loanForDisplay.summary.fullPrice | currency:'GBP'}}">
      </div>
    </div>
   <div class="form-group row">
      <label for="deposit" class="col-md-6 col-form-label">Deposit:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="deposit" value="{{loanForDisplay.summary.deposit | currency:'GBP'}}">
      </div>
    </div>
   <div class="form-group row">
      <label for="loan" class="col-md-6 col-form-label">Loan amount:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="loan" value="{{(loanForDisplay.summary.fullPrice - loanForDisplay.summary.deposit) | currency:'GBP'}}">
      </div>
    </div>
     <div class="form-group row">
      <label for="loanLenght" class="col-md-6 col-form-label">Finance Option:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="loanLenght" value="{{loanForDisplay.summary.loanLenght/12}} years">
      </div>
    </div>
     <div class="form-group row">
      <label for="arrangmentFee" class="col-md-6 col-form-label">Arrangment fee:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="arrangmentFee" value="{{loanForDisplay.summary.arrangmentFee | currency:'GBP'}}">
      </div>
    </div>
     <div class="form-group row">
      <label for="completionFee" class="col-md-6 col-form-label">Completion fee:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="completionFee" value="{{loanForDisplay.summary.completionFee | currency:'GBP'}}">
      </div>
    </div>
    
     <div class="form-group row">
      <label for="vehiclePrice" class="col-md-6 col-form-label">Delivery date:</label>
      <div class="col-md-6">
        <input type="text" readonly class="form-control-plaintext" id="deliveryDate" value="{{loanForDisplay.summary.deliveryDate | date}}">
      </div>
    </div>
 
  <div style="margin-top: 10px">
  <h2 id="tableLabel">Payment Schedule</h2>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Payment Date</th>
        <th>Amount</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of loanForDisplay.payments">
        <td>{{ payment.paymentDate | date: 'fullDate' }}</td>
        <td>{{ payment.paymentAmount  | currency:'GBP'}}</td>
    
      </tr>
    </tbody>
  </table>
  </div>
  </div>